<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.manaMapper">

	<!-- 회원가입 -->
	<insert id="manaup">
		insert into manager(mana_id, mana_pw, mana_name) 
			values (#{mana_id}, #{mana_pw}, #{mana_name})
	</insert>

	<!-- 로그인 -->
	<select id="manalogin" resultType="com.recipe.domain.ManagerVO">
		select
			mana_no, mana_name, mana_id, mana_pw
		from
			manager
		where mana_id = #{mana_id} 
	</select>
	
	<!-- 해당 아이디인 회원이 있는지 탐색 -->
	<select id="isMana" parameterType="String" resultType="int">
		select
			count(mana_id)
		from 
			manager
		where mana_id = #{mana_id}
	</select>
	
	<!-- 게시물 총 개수 -->
	<select id="memberCount" parameterType="hashMap" resultType="int">
		select count(user_no) from user
	</select>
	
	<!-- member 목록 -->
	<select id="memberList" parameterType="hashMap" resultType="com.recipe.domain.MemberVO">
		select 
			user_no, user_id, user_name, user_phone, user_email
		from user
		order by user_no desc
			limit #{displayPost}, #{postNum}
	</select>

</mapper>