<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.qaReply">

	<!-- 댓글 조회 -->
	<select id="qaReplyList" parameterType="int" resultType="com.recipe.domain.QaReplyVO">
		select
			qaa_no, qaa_content, qaa_date, qa_no, user_name
		from qa_answer
			where qa_no = #{qa_no}		
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="qaReplyWrite" parameterType="com.recipe.domain.QaReplyVO">
		insert into qa_answer(qaa_content, qa_no, user_name)
			value(#{qaa_content}, #{qa_no}, #{user_name})
	</insert>
	
	<!-- 댓글 1개 조회 -->
	<select id="qaReplyView" parameterType="int" resultType="com.recipe.domain.QaReplyVO">
		select
			qaa_content, qa_no, user_name
		from qa_answer
		where qaa_no = #{qaa_no}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="qaReplyModify" parameterType="com.recipe.domain.QaReplyVO">
		update qa_answer set
			user_name = #{user_name},
			qaa_content = #{qaa_content}
		where qaa_no = #{qaa_no}	
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="qaReplyDelete" parameterType="com.recipe.domain.QaReplyVO">
		delete from qa_answer
			where qaa_no = #{qaa_no}	
	</delete>

</mapper>