<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.rcpBoard">
	
	<!-- 레시필 목록 -->
	<select id="rcpList" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		
		<if test='rcpSearchType.equals("rcpTitle")'>
			where rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조회 -->
	<select id="rcpView" parameterType="int" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, info_eng, att_file_no_main
		from
			recipe
		where
			rcp_seq = #{rcp_seq}
	</select>
	
	<!-- 레시피 총 개수 -->
	<select id="rcpCount" parameterType="hashMap" resultType="int">
		select count(rcp_seq) from recipe
	</select>
	

</mapper>