<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.rcpBoard">
	
	<!-- 레시필 목록 -->
	<select id="rcpList" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		
		<if test='rcpSearchType.equals("rcpTitle")'>
			where rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 밥 조회 -->
	<select id="rcpKindType1List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 = '밥'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 후식 조회 -->
	<select id="rcpKindType2List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 = '후식'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 반찬 조회 -->
	<select id="rcpKindType3List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 = '반찬'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 국+찌개 조회 -->
	<select id="rcpKindType4List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 like concat('%', '국', '%')
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 일품 조회 -->
	<select id="rcpKindType5List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 = '일품'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 요리 종류 기타 조회 -->
	<select id="rcpKindType6List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_pat2 = '기타'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 볶기 조회 -->
	<select id="rcpKindCookM1List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '볶기'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 굽기 조회 -->
	<select id="rcpKindCookM2List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '굽기'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 끓이기 조회 -->
	<select id="rcpKindCookM3List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '끓이기'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 찌기 조회 -->
	<select id="rcpKindCookM4List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '찌기'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 튀기기 조회 -->
	<select id="rcpKindCookM5List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '튀기기'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 레시피 조리방법 기타 조회 -->
	<select id="rcpKindCookM6List" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_main
		from recipe
		where rcp_way2 = '기타'
		<if test='rcpSearchType.equals("rcpTitle")'>
			 and rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>
		
		order by rcp_seq desc
			limit #{displayPost}, #{postNum}
	</select>	
	
	<!-- 레시피 조회 -->
	<select id="rcpView" parameterType="int" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp_seq, rcp_nm, rcp_way2, rcp_pat2, info_eng, att_file_no_main
		from
			recipe
		where
			rcp_seq = #{rcp_seq}
	</select>
	
	<!-- 레시피 과정 조회 -->
	<select id="rcpProcessView" parameterType="int" resultType="com.recipe.domain.RcpProcessVO">
		select 
			pro_no, rcp_seq, manual01, manual02, manual03, manual04, manual05, manual06, manual07, manual08, manual09, manual10,
			manual11, manual12, manual13, manual14, manual15, manual16, manual17, manual18, manual19, manual20, 
			manual_img01, manual_img02, manual_img03, manual_img04, manual_img05, manual_img06, manual_img07, manual_img08, manual_img09, manual_img10,
			manual_img11, manual_img12, manual_img13, manual_img14, manual_img15, manual_img16, manual_img17, manual_img18, manual_img19, manual_img20
		from recipe_process
		where 
			rcp_seq = #{rcp_seq}
	</select>
	
	<!-- 레시피 재료 조회 -->
	<select id="rcpPartsView" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts1
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView2" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts2
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView3" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts3
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView4" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts4
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView5" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts5
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView6" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts6
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView7" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts7
		where
			rcp_seq = #{rcp_seq}
	</select>
	<select id="rcpPartsView8" parameterType="hashMap" resultType="com.recipe.domain.RcpPartsVO">
		select 
			parts_no, rcp_seq, rcp_pat_nm, rcp_pat_vl, rcp_pat_type
		from recipe_parts8
		where
			rcp_seq = #{rcp_seq}
	</select>
	
	<!-- 레시피 총 개수 -->
	<select id="rcpCount" parameterType="hashMap" resultType="int">
		select count(rcp_seq) from recipe
	</select>
	
	<!-- 레시피 찜 하기 -->
	<insert id="rcpHeart" parameterType="com.recipe.domain.RcpHeartVO">
		insert into
			rcp_heart (rcp_seq, user_name)
				values(#{rcp_seq}, #{user_name})
	</insert>
	
	<!-- 레시피 찜 여부 확인 -->
	<select id="isRcpHeart" parameterType="com.recipe.domain.RcpHeartVO" resultType="int">
		select count(rcp_h_no) 
		from rcp_heart 
		where rcp_seq = #{rcp_seq} and user_name = #{user_name}
	</select>

	<!-- 레시피 찜 해제 -->
	<select id="rcpHeartDelete" parameterType="com.recipe.domain.RcpHeartVO">
		delete from rcp_heart
		where rcp_seq = #{rcp_seq} and user_name = #{user_name}
	</select>
	
	<!-- 바로 조리 가능한 레시피 목록 -->
	<select id="nowRcpList" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp.rcp_seq, rcp.rcp_nm, rcp.rcp_way2, rcp.rcp_pat2, rcp.info_eng, rcp.att_file_no_main, parts.ingre_count
		from recipe rcp 
			join (select rcp_p.rcp_seq, count(rcp_p.rcp_seq) as 'ingre_count'
				from refri refri_ingre join recipe_parts rcp_p
				where rcp_p.rcp_pat_nm like concat('%',refri_ingre.INGRE_NAME,'%')
					and user_name = #{user_name}
				group by rcp_p.rcp_seq 
				having count(rcp_p.rcp_seq) >= #{count}) parts
		where rcp.rcp_seq = parts.rcp_seq
		
		<if test='rcpSearchType.equals("rcpTitle")'>
			and rcp.rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>

		order by parts.ingre_count desc
			limit #{displayPost}, #{postNum}
	</select>
	
	<!-- 바로 만들 수 있는 레시피 총 개수 -->
	<select id="nowRcpListCount" parameterType="hashMap" resultType="com.recipe.domain.RcpBoardVO">
		select 
			rcp.rcp_seq, rcp.rcp_nm, rcp.rcp_way2, rcp.rcp_pat2, rcp.info_eng, rcp.att_file_no_main, parts.ingre_count
		from recipe rcp 
			join (select rcp_p.rcp_seq, count(rcp_p.rcp_seq) as 'ingre_count'
				from refri refri_ingre join recipe_parts rcp_p
				where rcp_p.rcp_pat_nm like concat('%',refri_ingre.INGRE_NAME,'%')
					and user_name = #{user_name}
				group by rcp_p.rcp_seq 
				having count(rcp_p.rcp_seq) >= #{count}) parts
		where rcp.rcp_seq = parts.rcp_seq
		
		<if test='rcpSearchType.equals("rcpTitle")'>
			and rcp.rcp_nm LIKE concat('%', #{rcpKeyword}, '%')
		</if>

		order by parts.ingre_count desc
	</select>
	
	<!-- //냉장고 재료 줄이기 -->
	<select id="ingreModify" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select distinct r.ingre_name, r.ingre_capacity, r.ingre_no
		from refri r join (select rcp_pat_nm
			from recipe_parts
			where rcp_seq = #{rcp_seq}) p
		where p.rcp_pat_nm like concat('%', r.ingre_name, '%') and r.user_name = #{user_name}
	</select>

</mapper>