<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.refri">

	<!-- 재료 총 개수 -->
	<select id="refriCount" parameterType="hashMap" resultType="int">
		select count(ingre_no) from refri
	</select>
	
	
	<!-- 재료 목록 -->
	<select id="refriList" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_no, ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		
		<if test='refriSearchType.equals("ingre_name")'>
			WHERE ingre_name LIKE concat('%', #{refri_keyword}, '%')
		</if>
		
		<if test='refriSearchType.equals("ingre_type")'>
			WHERE ingre_type LIKE concat('%', #{refri_keyword}, '%')
		</if>
		
		order by ingre_no desc
 			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 재료 고기 목록 -->
	<select id="ingreMeat" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '육류'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 채소 목록 -->
	<select id="ingreVege" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '채소'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 가공식품 목록 -->
	<select id="ingreCan" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '가공식품'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 어류 목록 -->
	<select id="ingreFish" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '어류'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 과일 목록 -->
	<select id="ingreFruits" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '과일'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 유제품 목록 -->
	<select id="ingreDairy" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '유제품'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 기타 목록 -->
	<select id="ingreEtc" parameterType="hashMap" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity, user_name
		from refri
		where ingre_type like '기타'
		order by ingre_no desc
			limit #{refriDisplayPost}, #{refriPostNum}
	</select>
	
	<!-- 재료 추가 -->
	<select id="ingreAdd" parameterType="com.recipe.domain.RefriVO">
		insert into
			refri (ingre_name, ingre_type, ingre_capacity, user_name)
		values (#{ingre_name}, #{ingre_type}, #{ingre_capacity}, #{user_name})
	</select>
	
	<!-- 재료 조회 -->
	<select id="refriView" parameterType="int" resultType="com.recipe.domain.RefriVO">
		select
			ingre_name, ingre_type, ingre_capacity
		from
			refri
		where 
			ingre_no = #{ingre_no}
	</select>
	
	
	<!-- 재료 수정 -->
	<update id="refriModify" parameterType="com.recipe.domain.RefriVO">
		update refri 
			set
				ingre_name = #{ingre_name},
        		ingre_type = #{ingre_type},
        		ingre_capacity = #{ingre_capacity}
			where ingre_no = #{ingre_no} 
	</update>
	
	<!-- 재료 삭제 -->
	<select id="refriDelete" parameterType="int">
		delete from refri
		where ingre_no = #{ingre_no}
	</select>

</mapper>