<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recipe.mappers.reviewBoard">

	<!-- 게시물 총 개수 -->
	<select id="reviewCount" parameterType="hashMap" resultType="int">
		select count(rv_no) from review
	</select>

	<!-- 리뷰 목록 -->
	<select id="reviewList" parameterType="hashMap" resultType="com.recipe.domain.ReviewBoardVO">
		select
			rv_no, rv_title, rv_date, user_name
		from review
		
		<if test='reviewSearchType.equals("rv_title")'>
			WHERE rv_title LIKE concat('%', #{rv_keyword}, '%')
		</if>
		
		<if test='reviewSearchType.equals("rv_content")'>
			WHERE rv_content LIKE concat('%', #{rv_keyword}, '%')
		</if>
		
		<if test='reviewSearchType.equals("rv_title_content")'>
			WHERE rv_title LIKE LIKE concat('%', #{rv_keyword}, '%')
				or rv_content LIKE LIKE concat('%', #{rv_keyword}, '%')
		</if>
		
		<if test='reviewSearchType.equals("user_name")'>
			WHERE user_name LIKE LIKE concat('%', #{rv_keyword}, '%')
		</if>
		
		order by rv_no desc
 			limit #{reviewDisplayPost}, #{reviewPostNum}
	</select>
	
	<!-- 리뷰 작성 -->
	<insert id="reviewWrite" parameterType="com.recipe.domain.ReviewBoardVO">
 		insert into
  			review (rv_title, rv_content, user_name, rv_img)
   				values(#{rv_title}, #{rv_content}, #{user_name}, #{rv_img})
	</insert>

	<!-- 리뷰 조회 -->
	<select id="reviewView" parameterType="int" resultType="com.recipe.domain.ReviewBoardVO">
		select
			rv_no, rv_title, rv_content, user_name, rv_date, rv_img
		from
			review
		where 
			rv_no = #{rv_no}
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="reviewModify" parameterType="com.recipe.domain.ReviewBoardVO">
		update review 
			set
				rv_title = #{rv_title},
        		rv_content = #{rv_content},
        		user_name = #{user_name},
        		rv_img = #{rv_img}
			where rv_no = #{rv_no} 
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="reviewDelete" parameterType="int">
		delete
			from review
		where rv_no = #{rv_no}
	</delete>

</mapper>
